@import "tailwindcss";

@theme inline {
  --color-surface: #0b1326;
  --color-surface-dim: #0b1326;
  --color-surface-bright: #31394d;
  --color-surface-container-lowest: #060e20;
  --color-surface-container-low: #131b2e;
  --color-surface-container: #171f33;
  --color-surface-container-high: #222a3d;
  --color-surface-container-highest: #2d3449;
  --color-on-surface: #dae2fd;
  --color-on-surface-variant: #c4c6cf;
  --color-primary: #bfc5e4;
  --color-primary-container: #141a32;
  --color-on-primary: #292f48;
  --color-on-primary-fixed: #141a32;
  --color-on-primary-container: #7c839f;
  --color-secondary: #bcc7de;
  --color-secondary-container: #3e495d;
  --color-on-secondary: #263143;
  --color-on-secondary-container: #aeb9d0;
  --color-tertiary: #00daf8;
  --color-tertiary-container: #001f25;
  --color-on-tertiary: #00363f;
  --color-outline: #8e9099;
  --color-outline-variant: #44474e;
  --font-headline: 'Space Grotesk', sans-serif;
  --font-body: 'Manrope', sans-serif;
}

.glass-card {
  background: rgba(45, 52, 73, 0.4);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-user-select: none;
  user-select: none;
}

body {
  background-color: #0b1326;
  color: #dae2fd;
  font-family: 'Manrope', sans-serif;
  min-height: 100dvh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Grotesk', sans-serif;
}
